---
import Card from "./Card.astro";

  const response = await fetch('http://localhost:3001/recetas');
  const data = await response.json();
  const recetas = data.filter(element => 
    element.name.toLowerCase().includes(Astro.url.searchParams.get("searchstring")) 
    || 
    element.ingredients.toString().toLowerCase().includes(Astro.url.searchParams.get("searchstring")) 
    ||
    element.description.toLowerCase().includes(Astro.url.searchParams.get("searchstring")) 
  );
  console.log(Astro.url);

---

<section class="bg-white dark:bg-gray-900">
	<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 ">
		<div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
			<h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Nuestras recetas</h2>
			<p class="font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400">Explora nuestras recetas culinarias</p>
		</div> 
		<div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-2">
				{recetas.map(receta => (
					<Card name={receta.name} description={receta.description} />
				)
				)}	
		</div>  
	</div>
</section>